body{
    background:#f2f2f2;
    color: #424242;
    font-family: Georgia, serif;
}

.container,tbody:nth-child(even){
    background-color:#f7f7f7;
}

.container{
    width: 75%;
    margin: 0 auto;
}

header>span{
    margin-top: 0;
    padding-top: 0;
}

header>h1{
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container>header,.container section,td{
    padding: 2%;
}

span{
    color: #808080;
}

label,button {
  font-weight: bold;
}

button{
    background: #494545;
    font-size: 100%;
    color: white;
    width: 100px;
    height: 8%;
    border-radius: 7%;
}

input,td,#tableBox{
    border-radius: 2%;
}

input{
    display: block;
    width: 100%;
    border:0 solid #ccc; 
    background: #f7f7f7;
    height: 6%;
    margin-top: 1%;
}

.form-group{
    margin-bottom: 4%;
}

table {
    border-collapse: collapse;
    width: 98%;
    margin: 1%;
}

#tableBox{
    border-style: solid;
    border-width: 4px;
    border-color: #f2f2f2;
}

#sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section{
    background: white;
    width: 45.8%;
}

@media only screen and (max-width: 960px) {
    section{
        width: 100%;
        margin-bottom: 1%;
    }
}